################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LegoArt/obj
/LegoArt/bin/Debug/netcoreapp3.1
/.vs/LegoArt/v16/TestStore/0
/.vs/LegoArt
/LegoArtTool/bin/Debug/netcoreapp3.1
/LegoArtTool/obj
/.idea
